<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src=" {{course.img}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{course.coursename}}</h5>
                <p class="card-text">{{course.courseinfo}}</p>
            </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Start-Time: {{course.start_time}}:00</li>
                <li class="list-group-item">${{course.price}}/hour</li>
                <li class="list-group-item">Weekday: {{course.day}}</li>
            </ul>
            <div class="card-body">
                <p>Trainer: <a href="/fitclub/trainers/{{course.trainerId}}" class="card-link">{{trainer_name}}</a></p>
                 <a href="/members/schedule" class="card-link btn btn-success">Back schedule</a>
            </div>
        </div>

    </div>
</div>