<div class="row">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title">{{member.first_name}} {{member.last_name}}</h1>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">UserName: {{member.username}} </li>
                <li class="list-group-item">FirstName: {{member.first_name}} </li>
                <li class="list-group-item">LastName: {{member.last_name}} </li>
                <li class="list-group-item">Phone: {{member.phone}}</li>
                <li class="list-group-item">Email: {{member.email}}</li>
                <li class="list-group-item">Address: {{member.address}} </li>
                <li class="list-group-item">Course:
                    <ul>
                        {{#each memberCourse}}
                        <li>
                            <a href="/members/coursesShow/{{_id}}">{{coursename}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>

            </ul>

            <div class="card-body">
                <a href="/edit/memberInfo" class="card-link">Edit Info</a>
                <a href="/members/schedule" class="card-link"> My schedule</a>
            </div>
        </div>
    </div>


</div>